    GLOBAL_SETTINGS
    LAB_MASTER_SEED network-basics_mike_master_seed
    REGISTRY trangninh
NETWORK LAN
     MASK 172.0.0.0/24
     GATEWAY 172.0.0.101
CONTAINER server
     USER ubuntu
     X11 YES
     PASSWORD 1
     LAN 172.0.0.3
CONTAINER client
     USER ubuntu
     X11 YES
     TERMINALS 2
     PASSWORD 1
     LAN 172.0.0.2
CONTAINER attacker
     USER ubuntu
     X11 YES
     PASSWORD 1
     LAN 172.0.0.4
